$COLORSCHEME_TRANSITION: 0.5s ease-in-out;
$TRANSITION: 0.2s ease-in-out;
$TRANSITION_FAST: 0.1s ease;

$GAP: 1rem;

$PAGE_ANSWER_HEADER_HEIGHT: 3.5rem;

$COLOR_A: #ce0541;
$COLOR_B: #033ec9;
$COLOR_C: #c9c903;
$COLOR_D: #02bb39;
$COLOR_E: #c903c9;
$COLOR_F: #03c9c9;
$COLOR_A_DARK: #a90032;
$COLOR_B_DARK: #032d9c;
$COLOR_C_DARK: #9c9a03;
$COLOR_D_DARK: #029a2d;
$COLOR_E_DARK: #9a039a;
$COLOR_F_DARK: #039a9a;

.relwrap {
  width: 100%;
  height: 100%;
  position: relative;
}

@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-flow: $direction nowrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexbox-wrap($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-flow: $direction wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin nointeract {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

@mixin button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  background-color: #292929;
  color: #fff;
  border: 1px #000 solid;
  padding: $GAP;
  border-bottom: 5px #000 solid;
  transform: translateY(0px);
  transition: transform $TRANSITION;

  &:hover {
    transform: translateY(3px);
  }
}
